<!doctype html>
<html ng-app="myApp">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/styleTab.css">
</head>
<body>



	<div class="ui-tabs">
		<ul class="ui-tabs-nav">
			<li><a href="#tabs-1">Tab One</a></li>
			<li><a href="#tabs-2">CQL</a></li>
			<li><a href="#tabs-3">Tab Three</a></li>
		</ul>
		<div ng-controller="MyController">
			<div id="tabs-1" class="ui-tabs-panel">
				<div>
					{{person.name}}
					{{error}}
					<form ng-submit="connectToDB()">
						<button type="submit">Connect</button>
					</form>
					<form ng-submit="sendPost()">
						<button type="submit">Get Keyspaces</button>
						<br>
					</form>
					<table>
						<tr >
							Keyspaces:<br>
							<div ng-repeat="keyspace in keyspaces">
								<a href="javascript:void(0);"
								ng-click="getKeyspaceSchema(keyspace.keyspace_name);">{{keyspace.keyspace_name}}</a>
							</div>
						</tr>
						<tr>
							Tables in {{keyspacedata.name}}: <a href="javascript:void(0);"
									ng-click="testCreateTable();"><img src="images/add.png" title="Add Table"/></a><br>
							<form>
								Table Name: <input ng-model="NewTableName">
								<div class="form-group" data-ng-repeat="choice in choices">
  								Column Name:
								<input type="text" ng-model="choice.name" name="">
								Data Type:
								<select ng-model="choice.datatype" ng-options="data.name as data.name for data in dataType"></select>
  								<a href="javascript:void(0);" ng-show="showAddChoice(choice)" ng-click="addNewChoice()"><img src="images/add.png" title="Add new column"/></a>
								<a href="javascript:void(0);"  ng-click="removeChoice()"><img src="images/trash.png" title="Delete column"/></a><br>
								
							</div>
							<button ng-click="createTable()" ng-disabled="!(!!NewTableName && !!keyspacedata.name) ">Create Table</button>	
							</form>
							<table ng-repeat="columnfamily in columnfamilynames">
								<tr>
								 <td>{{columnfamily.columnfamily_name}}</td>
								<td><a href="javascript:void(0);"
									ng-click="tableMetaData(columnfamily.columnfamily_name);">Metadata</a>
								</td>
								<td>
								<a href="javascript:void(0);"
									ng-click="getTableData(columnfamily.columnfamily_name);">TableData</a>
								</td>
								<td> 
								<a href="javascript:void(0);"
									ng-click="dropTable($index,columnfamily.columnfamily_name);"><img src="images/delete.png" title="Delete"/></a>
								<td>
								</tr>
							</table>
						</tr>

						<tr>
							<div ng-show="keyspacedata.metadata.length">
								Table MetaData of {{keyspacedata.name}}.{{keyspacedata.Table}}
								<div>
  								Column Name:
								<input type="text" ng-model="coulmn.name" name="">
								Data Type:
								<select ng-model="coulmn.datatype" ng-options="data.name as data.name for data in dataType"></select>
  								<a href="javascript:void(0);" ng-click="addNewColumn()"><img src="images/add.png" title="Add new column"/></a></div>
								<table ng-show="keyspacedata.metadata.length" border="1">
									<tr>
										<th ng-repeat="(header, value) in keyspacedata.metadata[0]">
				      							{{header}}
				 						</th>
										<th></th>
										<th>Alter</th>
									</tr>
									<tr ng-repeat="metadata in keyspacedata.metadata">
										<td ng-repeat="(key, val) in metadata">{{val}}</td>
							<td><a href="javascript:void(0);" ng-click="deleteColumn(metadata.column_name);"><img src="images/trash.png" title="Delete column"/></a></td>
							<td><select ng-model="editCol.datatype" ng-options="data.name as data.name for data in dataType"></select><a href="javascript:void(0);" ng-click="editColumn(metadata.column_name,editCol.datatype);"><img src="images/edit.png" title="edit column"/></a></td>
									</tr>
								</table>
							</div>
						</tr>
					</table>
					<div ng-show="keyspacedata.tabledata.length">
						Table contents of {{keyspacedata.name}}.{{keyspacedata.Table}}
						<table ng-show="keyspacedata.tabledata.length" border="1">
							<tr >
								<th ng-repeat="(header, value) in keyspacedata.tabledata[0]">
      								{{header}}
 								</th>
							</tr>
							<tr ng-repeat="data in keyspacedata.tabledata" ng-init="rowIndex = $index">
		 						<td ng-repeat="(key, val) in data">
			 						<div ng-show="!rowEditVisible(rowIndex,$index)" 
			 							ng-click="showRowEdit(val,rowIndex,$index)">{{val}}</div>
			 						<input ng-model="rowEditValue" ng-show="rowEditVisible(rowIndex,$index)" ><br>
			 						<button ng-show="rowEditVisible(rowIndex,$index)" ng-click="updateRow(keyspacedata.Table,key)">save</button>
			 						<button ng-show="rowEditVisible(rowIndex,$index)" ng-click="hideRowEdit()">cancel</button>
		 						</td>
		 						<td> 
								<a href="javascript:void(0);"
									ng-click="deleteRow($index,keyspacedata.Table);"><img src="images/delete.png" title="Delete"/></a>
								</td>
							</tr>
							<tr>
								<td ng-repeat="(header, value) in keyspacedata.tabledata[0]">
									<input ng-model="rowValue[$index]">
								</td>
								<td> 
								<a href="javascript:void(0);"
									ng-click="addRow(keyspacedata.tabledata.length,keyspacedata.Table);"><img src="images/add.png" title="Add Row"/></a>
								</td>
							</tr>
						</table>
					</div>
					<form ng-submit="createSchema()">
						<table>
							<tr>
								<td>Kespace Name:</td>
								<td><input ng-model="scehmaName"><br></td>
							</tr>
							<tr>
								<td>Class:</td>
								<td><select name="class">
										<option name="SimpleStrategy">SimpleStrategy</option>
										<option name="NetworkTopologyStrategy">Network Topology Strategy</option>
								</select><br></td>
							</tr>
							<tr>
								<td>Replication Factor:</td>
								<td><select name="replication">
										<option name="1">1</option>
										<option name="2">2</option>
								</select><br></td>
							</tr>
							<tr>
								<td>
									<button type="submit" ng-disabled="!(!!scehmaName)">Create Keyspace</button>
									<br>
								</td>
							</tr>
						</table>
					</form>

					<form ng-submit="deleteKeyspace()">
						<input ng-model="DropKeyspace">
						<button type="submit">Delete Keyspace</button>
						<br> {{deleted}}
					</form>
				</div>
			</div>

			<div id="tabs-2" class="ui-tabs-panel">
				<form ng-submit="sendQuery()">
					Enter a Query:<br> <input ng-model="queryString"> <br>
					<button type="submit">Submit Query</button>
					<br>
					<div ng-repeat="answerRow in answerRows">
						<p>{{answerRow}}</p>
						<br>
					</div>
				</form>

			</div>
			<div id="tabs-3" class="ui-tabs-panel">
				<p>Content three.</p>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript">
	$(document).ready(function(){
		$(".ui-tabs").tabs();
	});
</script>
